@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background: #93C4D3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.App h2 {
  font-family: 'Oswald', serif;
}

.App img {
  width: 100px;
}

.search-box {
  position: relative;
}

.text {
  position: relative;
  border: 2px solid #B1BEC6;
  height: 25px;
  background: #5F8FA4;
  width: 190px;
  border-radius: 50px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  color: #000000;
}

.App {
  text-align: center;
}

.App p {
  width: 75%;
  margin: auto;
  overflow-wrap: break-word;
  padding: 20px 0;
}